
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% comment %} {% load static %}
    <link rel="stylesheet" href="{% static 'CSS/product-list.css' %}"> {% endcomment %}
    <title>Document</title>
</head>
<body>
     <table >
        <thead >
            <tr>
                <th >Name</th>
                <th >Location</th>
                <th >Contact</th>
                <th >Details</th>
                <th >Edit</th>
            </tr>
        </thead>
        <tbody>
            {% for customer in customers %}
            <tr>
                <td >{{ customer.name }}</td>
                <td >{{ customer.location }}</td>
                <td >{{ customer.contacts}}</td>
                 <td>
                    <a href="{% url 'customer_detail_view' user_id=customer.user_id %}">View details</a>
                </td>
                <td><a href="{% url 'edit_customer_view' user_id=customer.user_id %}">Edit Details</a><td/> 
            </tr>
            {%endfor%}
        </tbody>
    </table>
</body>
</html>
