
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 20px;
}

h4 {
    font-size: 24px;
    margin-bottom: 10px;
}

img {
    max-width: 100%;
    height: auto;
    margin-bottom: 20px;
}

p {
    margin-bottom: 10px;
}

span {
    font-weight: bold;
}

button {
    padding: 10px 20px;
    background-color: #f3a408;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: #ff8e25;
}